:root {
  --background_color: #101010;
  --text_color: #a7a7a7;
  --border_color: #1b1b1b;
  --color_pop: #330099;
  --title_fontsize: 100px;
  --secondary_fontsize: 17px;
  --header_padding: 15px;
  --borders: 10.5px solid var(--border_color);
  --top_margins: 150px;
  --bottom_margins: 100px;
  --upper_padding: 6%;
  --lower_padding: 4%;
  --line_height: 500px;
  --border_radius: 25px;
  --footer_padding: 35px;
  --choose_width: 275px;
  --choose_padding: 30px;
  --body_margins: 20px;
  --zp_left_padding: 23px;
  --zp_right_padding: 55px;
  --center_line_width: 5.25px;
  --secondary_underline: 5px;
  --primary_underline: 10.5px;
}

 * {
	font-family: Helvetica;
	background-color: var(--background_color);;
	padding: 0;
	margin: 0;
  color: var(--text_color);
  text-align: center;
}

::selection {
  background: var(--color_pop);
}

#stick_header {
  font-size: var(--secondary_fontsize);
  padding-top: var(--header_padding);
  padding-bottom: var(--header_padding);
  background-color: var(--background_color);
  text-align: center;
  position: fixed;
  width: 100%;
  top: -100px;
  transition: 0.2s;
  border-bottom: var(--borders);
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color:var(--color_pop);
  text-decoration-thickness: var(--secondary_underline);
}

.zohapeterson, .contact_header, .experience_header, .projects_header, .about_header {
	font-size: var(--title_fontsize);
	block-size: fit-content;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: var(--top_margins);
	border: var(--borders);
	padding: var(--upper_padding);
  border-radius: var(--border_radius);
  text-decoration: underline;
  text-decoration-color: var(--color_pop);
  text-decoration-thickness: var(--primary_underline);
}

.main_body {
  margin: var(--body_margins);
}

.welcome, .this_info {
	margin-left: auto;
	margin-right: auto;
	block-size: fit-content;
	width: fit-content;
	padding: var(--lower_padding);
	border: var(--borders);
  font-size: var(--secondary_fontsize);
}

.text_1 {
  font-size: var(--secondary_fontsize);
  font-weight: lighter;
  text-align: left;
}

.text_2 {
  font-size: var(--secondary_fontsize);
  font-weight: normal;
  text-align: left;
  font-style: italic;
}

.text_3 {
  font-size: var(--secondary_fontsize);
  font-weight: bolder;
  text-align: left;
}

.center_line {
	height: var(--line_height);
	width:0px;
	margin-left: auto;
	margin-right: auto;
	border: var(--center_line_width) solid var(--border_color);
}

.choose {
  margin-left: auto;
	margin-right: auto;
  block-size: fit-content;
	width: fit-content;
	border: var(--borders);   
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  background-color: var(--border_color);
}

.list_other2 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#zp {
  background-color: var(--border_color);
  color: var(--text_color);
  width: 0;
  padding-left: var(--zp_left_padding);
  padding-right: var(--zp_right_padding);
}

a {
  display: inline-block;
  text-decoration: none;
  font-size: var(--secondary_fontsize);
  width: var(--choose_width);
  padding-top: var(--choose_padding);
  padding-bottom: var(--choose_padding);
}

#about:hover, #experience:hover, #projects:hover, #contact:hover {
  background-color: var(--border_color);
  transition: 0.125s;
}

.thanks {
  margin-left: auto;
	margin-right: auto;
	block-size: fit-content;
  width: fit-content;
  padding: var(--lower_padding);
	border: var(--borders);
  border-radius: var(--border_radius);
  margin-bottom: var(--bottom_margins);
  font-size: var(--secondary_fontsize);
}

.footer {
  bottom: 0;
  width: 100%;
  padding-bottom: var(--footer_padding);
  padding-top: var(--footer_padding);
  color: var(--text_color);
  background-color: var(--border_color);
  font-weight: lighter;
  font-size: var(--secondary_fontsize);
}

@media only screen and (max-width: 1190px){
  :root {
    --choose_width: 250px;
  }
}

@media only screen and (max-width: 1080px){
  :root {
    --choose_width: 200px;
  }
}

@media only screen and (max-width: 900px){
  :root {
    --choose_width: 150px;
    --title_fontsize: 70px;
    --secondary_fontsize: 15px;
  }
}

@media only screen and (max-width: 695px){
  :root {
    --title_fontsize: 60px;
    --choose_width: 250px;
    --zp_left_padding: 0;
    --zp_right_padding: 0;
  }
  a, li {
    display: block;
    width: var(--choose_width);
  }
  #zp {
    width: var(--choose_width);
  }

  .list_other2 {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

@media only screen and (max-width: 555px){
  :root {
    --title_fontsize: 40px;
    --secondary_fontsize: 14px;
    --choose_width: 200px;
  }
}
@media only screen and (max-width: 393px){
  :root {
    --choose_width: 140px;
  }
}

@media only screen and (max-width: 290px){
  :root {
    --body_margins: 0;
  }

}
@media only screen and (max-width: 232px){
  .center_line, .about, .choose, .thanks, .footer, .stick_header, .this_info {
    display: none;
  }
}
