:root {
  --background_color: #F0EAD6;
  --text_color: black;
  --title_fontsize: 100px;
  --secondary_fontsize: 17px;
  --header_padding: 15px;
  --borders: 15px solid black;
  --top_margins: 150px;
  --bottom_margins: 100px;
  --upper_padding: 6%;
  --lower_padding: 4%;
  --line_height: 500px;
  --border_radius: 25px;
  --footer_padding: 35px;
  --choose_width: 275px;
  --choose_padding: 30px;
  --body_margins: 20px;
}

 * {
	font-family: Helvetica;
	background-color: var(--background_color);;
	padding: 0;
	margin: 0;
  color: var(--text_color);
  font-weight: bold;
  text-align: center;
}

#stick_header {
  font-size: var(--secondary_fontsize);
  padding-top: var(--header_padding);
  padding-bottom: var(--header_padding);
  background-color: var(--background_color);
  text-align: center;
  position: fixed;
  width: 100%;
  top: -100px;
  transition: 0.2s;
  border-bottom: var(--borders);
  font-weight: 800;
}

.zohapeterson, .contact_header, .experience_header, .projects_header, .about_header {
	font-size: var(--title_fontsize);
	block-size: fit-content;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: var(--top_margins);
	border: var(--borders);
	padding: var(--upper_padding);
  border-radius: var(--border_radius);
}

.main_body {
  margin: var(--body_margins);
}

.about, .this_info {
	margin-left: auto;
	margin-right: auto;
	block-size: fit-content;
	width: fit-content;
	padding: var(--lower_padding);
	border: var(--borders);
  font-size: var(--secondary_fontsize);
}

.center_line {
	height: var(--line_height);
	width:0px;
	margin-left: auto;
	margin-right: auto;
	border: 7.5px solid black;
}

.choose {
  margin-left: auto;
	margin-right: auto;
  block-size: fit-content;
	width: fit-content;
	border: var(--borders); 
	font-weight: bold;
  
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  background-color: black;
}

.list_other1 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}


.list_other2 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

a {
  display: inline-block;
  text-decoration: none;
  font-size: var(--secondary_fontsize);
  width: var(--choose_width);
  padding-top: var(--choose_padding);
  padding-bottom: var(--choose_padding);
}

#about:hover, #experience:hover, #projects:hover, #contact:hover, #zp:hover {
  color: #F0EAD6;
  background-color: black;
  transition: 0.125s;
}

.button_info {
  font-size: var(--secondary_fontsize);
}

.thanks {
  margin-left: auto;
	margin-right: auto;
	block-size: fit-content;
  width: fit-content;
  padding: var(--lower_padding);
	border: var(--borders);
  border-radius: var(--border_radius);
  margin-bottom: var(--bottom_margins);
  font-size: var(--secondary_fontsize);
}

.footer {
  bottom: 0;
  width: 100%;
  padding-bottom: var(--footer_padding);
  padding-top: var(--footer_padding);
  color: #F0EAD6;
  background-color: black;
  font-weight: lighter;
  font-size: var(--secondary_fontsize);
}

@media only screen and (max-width: 1190px){
  :root {
    --choose_width: 250px;
  }
}

@media only screen and (max-width: 1080px){
  :root {
    --choose_width: 200px;
  }
}

@media only screen and (max-width: 900px){
  :root {
    --choose_width: 150px;
    --title_fontsize: 70px;
    --secondary_fontsize: 15px;
  }
}

@media only screen and (max-width: 695px){
  :root {
    --title_fontsize: 60px;
    --choose_width: 250px;
  }
  a, li {
    display: block;
    width: var(--choose_width);
  }
  .list_other1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .list_other2 {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

@media only screen and (max-width: 555px){
  :root {
    --title_fontsize: 40px;
    --secondary_fontsize: 14px;
    --choose_width: 200px;
  }
}
@media only screen and (max-width: 393px){
  :root {
    --choose_width: 140px;
  }
}

@media only screen and (max-width: 290px){
  :root {
    --body_margins: 0;
  }

}
@media only screen and (max-width: 232px){
  .center_line, .about, .choose, .thanks, .footer, .stick_header, .this_info {
    display: none;
  }
}
