:root {
  --background_color: white;
  --text_color: black;
  --selection_color: #eb1c01;
  --title_fontsize: 100px;
  --secondary_fontsize: 17px;
  --second_title_fontsize: 30px;
  --header_padding: 20px;
  --borders: 4px solid var(--text_color);
  --top_margins: 150px;
  --bottom_margins: 100px;
  --upper_padding: 6%;
  --lower_padding: 4%;
  --line_height: 350px;
  --border_radius: 25px;
  --footer_padding: 30px;
  --choose_width: 155px;
  --choose_padding: 30px;
  --body_margins: 20px;
  --zp_left_padding: 27px;
  --zp_right_padding: 55px;
  --center_line_width: 2px;
  --stick_weight: 800;
  --image_width: 200px;
  --gallery_image_width: 250px;
  --choose_radius: 16px;
  --picture_text_gap: 20px;
  --para_gap: 20px;
}

::selection {
  color: var(--selection_color);
}

 * {
	font-family: Helvetica;
	background-color: var(--background_color);;
	padding: 0;
	margin: 0;
  color: var(--text_color);
  text-align: center;
  font-weight: lighter;
  text-decoration: none !important;
  text-decoration: none;

}

#stick_header {
  font-size: var(--secondary_fontsize);
  padding-top: var(--header_padding);
  padding-bottom: var(--header_padding);
  background-color: var(--background_color);
  text-align: center;
  position: fixed;
  width: 100%;
  top: -100px;
  transition: 0.2s;
  border-bottom: var(--borders);
  font-weight: var(--stick_weight);
  z-index: 1;
}

.header {
	font-size: var(--title_fontsize);
	block-size: fit-content;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: var(--top_margins);
	border: var(--borders);
	padding: var(--upper_padding);
  border-radius: var(--border_radius);
}

.main_body {
  margin: var(--body_margins);
}

.welcome, .contact_wrapper, .experience_wrapper, .about_block_wrapper, .project_wrapper, .see_experience, .see_projects, .gallery_wrapper, .see_resume {
	margin-left: auto;
	margin-right: auto;
	block-size: fit-content;
	width: fit-content;
	padding: var(--lower_padding);
	border: var(--borders);
  font-size: var(--secondary_fontsize);
}

.about_content_wrapper {
  display: grid;
  align-items: center;
  column-gap: var(--picture_text_gap);
  grid-template-columns: min-content 1fr;
  
}

.textron_projects, .psp_projects, .asme_projects, .wm_projects, .data_science_projects, .scc_projects, .textron_experience, .psp_experience, .asme_experience, .wm_experience, .data_science_experience {
  margin-bottom: var(--para_gap);
}

.text_2, .text_4, .text_5, .text_6 {
  font-size: var(--secondary_fontsize);
  text-align: left;
}

.text_1 {
  font-weight: 900;
  font-size: var(--second_title_fontsize);
  text-align: left;
}
.text_2 {
  font-weight: 600;
  font-style: italic;
}

.text_4 {
  text-align: justify;
}

.text_7 {
  font-size: var(--secondary_fontsize);
  text-align: middle;
}

.center_line {
	height: var(--line_height);
	width:0px;
	margin-left: auto;
	margin-right: auto;
	border: var(--center_line_width) solid var(--text_color);
}

.choose {
  margin-left: auto;
	margin-right: auto;
  block-size: fit-content;
	width: fit-content;
	border: var(--borders);  
 
}

ul {
  list-style: none;
  border-radius: var(--choose_radius);
  background-color: var(--text_color);
}

li {
  display: inline-block;
  background-color: var(--text_color);
  border-radius: var(--choose_radius);
}

img {
  width: var(--image_width);
  height: auto;
  border: var(--borders);
  filter: grayscale(100%);
}

.gallery_img {
  width: var(--gallery_image_width);
  height: auto;
}

.gallery_wrapper {
  display: grid;
  gap: 15px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.round_edges1 {
  border-top-left-radius: var(--choose_radius);
  border-bottom-left-radius: var(--choose_radius);
}

.round_edges2 {
  border-top-right-radius: var(--choose_radius);
  border-bottom-right-radius: var(--choose_radius);

}

a {
  display: inline-block;
  text-decoration: none;
  font-size: var(--secondary_fontsize);
  width: var(--choose_width);
  padding-top: var(--choose_padding);
  padding-bottom: var(--choose_padding);
}

#about:hover, #experience:hover, #projects:hover, #contact:hover, #zp:hover {
  background-color: var(--text_color);
  transition: 0.125s;
  color: var(--background_color)
}

.thanks {
  margin-left: auto;
	margin-right: auto;
	block-size: fit-content;
  width: fit-content;
  padding: var(--lower_padding);
	border: var(--borders);
  border-radius: var(--border_radius);
  margin-bottom: var(--bottom_margins);
  font-size: var(--secondary_fontsize);
}

.footer {
  bottom: 0;
  width: 100%;
  padding-bottom: var(--footer_padding);
  padding-top: var(--footer_padding);
  color: var(--background_color);
  background-color: var(--text_color);
  font-size: var(--secondary_fontsize);
}

@media only screen and (max-width: 1080px){
  :root {
    --choose_width: 121px;
  }
}

@media only screen and (max-width: 900px){
  :root {
    --title_fontsize: 80px;
    --secondary_fontsize: 15px;
    --second_title_fontsize: 25px;
    
  }

  .about_content_wrapper {
    display: block;
    align-items: unset;
    column-gap: unset;
    grid-template-columns: unset;
  }

  .text_1, .text_2, .text_6 {
    text-align: center;
  }

  .text_5 {
    margin-top: 5px;
  }

  .text_4, .text_5 {
    text-align: justify;
  }
}

@media only screen and (max-width: 695px){
  :root {
    --title_fontsize: 62px;
    --secondary_fontsize: 14px;
    --second_title_fontsize: 23px;
    --zp_left_padding: 0;
    --zp_right_padding: 0;
    --image_width: 160px;
    --gallery_image_width: 160px;
    --choose_width: 220px;
  }
  a, li {
    display: block;
  }
  .round_edges1 {
    border-top-right-radius: var(--choose_radius);
    border-top-left-radius: var(--choose_radius);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .round_edges2 {
    border-bottom-right-radius: var(--choose_radius);
    border-bottom-left-radius: var(--choose_radius);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

}

@media only screen and (max-width: 555px){
  :root {
    --title_fontsize: 45px;
    --secondary_fontsize: 13px;
    --second_title_fontsize: 20px;
    --choose_width: 200px;
  }
  .gallery_wrapper {
    display: block;
  }
  .design_work, .manufacturing_work, .stress_work {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 310px){
  :root {
    --body_margins: 0;
    --image_width: 100px;
    --gallery_image_width: 100px;
  }
  body {
    width: 310px;
  }
}
